<!-- Include Header -->
<%- include('../include/_header')  %>
<!-- /Include Header -->

<div class="row">
  <div class="col-10">
    <h2>Create User</h2>
  </div>
  <div class="col-2" style="float:right;">
    <a href="/users" class="btn btn-sm btn-primary">
      All
    </a>
  </div>
</div>

<form class="row g-3" method="POST" action="/users">
    <div class="col-md-12">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="inputName" required>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="inputEmail4" required>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="inputPassword4" required>
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" name="city" id="inputCity" required>
    </div>
    <div class="col-md-6">
      <label for="inputCountry" class="form-label">Country</label>
      <select id="inputCountry" class="form-select" name="country_id" required>
        <option selected>Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" value="1" name="isActive">
        <label class="form-check-label" for="gridCheck">
          Is Active
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>


<!-- Include Footer -->
<%- include('../include/_footer')  %>
<!-- /Include Footer -->
    
